.notfound {
   font-size: 50px;
   text-align: center;
   color: beige;
   text-shadow: 2px 2px 3px black;
   height: 1000px;
   width: 1000px;
   background: url('../404.svg') 0 0/contain no-repeat;
}